body{
    background-color: none;
    background-image: url('https://www.shutterstock.com/image-photo/sun-sets-behind-mountain-ranges-600nw-2479236003.jpg');
    background-size: cover;
    color: yellow;
    background-repeat: no-repeat;
}
h1,h2{
    color: orange;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    text-shadow: 2px 2px 4px #000000;   
    }

.style1 {
    border: 3px solid #000;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

footer {
    text-align: start;
    font-size: 14px;
    color: lightgray;
    margin-top: 20px;
    font-family: 'Courier New', monospace;
}
p{
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    font-family: 'Georgia', serif;
}
header{
    margin-bottom: 30px;
    font-family: 'Tahoma', sans-serif;
}
      
.box-model-container ul {
    list-style-type: square;
    color: #FFFF00;
    font-family: 'Verdana', sans-serif;
    display: flex;
}
.box-model-container li {
    margin: 10px;
    padding: 10px;
    flex: 4;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: #FFA500 2px 2px 5px;
}
.hero {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 20px;
}

.contact {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 20px;
}